.checkers-results {
    margin: 0;
    max-width: 35rem;
    padding: 0.5em;
}

.checkers-done {
    border: 1px solid #999;
    border-radius: 10px;
}

#checkers-input-url { width: 35rem; }

.dashicons-before:before { margin-bottom: 0.1rem; }

span.dashicons-before:before { margin-right: 0.125em; }

li.dashicons-before:before { margin-right: 0.25em; }

/* Add space above first occurance of class. */
li.dashicons-before { margin-top: 1em; } /* Add for all. */

#checkers-results li.dashicons-before:first-child,
li.dashicons-chart-line ~ .dashicons-chart-line,
li.dashicons-editor-code ~ .dashicons-editor-code,
li.dashicons-lock ~ .dashicons-lock,
li.dashicons-performance ~ .dashicons-performance,
li.dashicons-share ~ .dashicons-share,
li.dashicons-universal-access-alt ~ .dashicons-universal-access-alt { margin-top: 0; }

.check-url {
    font-style: italic;
    white-space: nowrap;
}
